<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apex Stats</title>
    <link rel="stylesheet" href="/styles.css">
    <script defer src="searchbar.js"></script>
</head>

<body class="home-page">
    <main class="home-page-main">
        <section class="all-search-items">

            <input type="button" class="platform" id="xbl" name="xbl">
            <input type="button" class="platform" id="psn" name="psn">
            <input type="button" class="platform" id="pc" name="origin">

            <input type="search" id="searchBar" placeholder="Pick a platform and enter a username">

        </section>
    </main>

    <footer>
        <a href="/overview" id="link1">Project Overview</a>
        <a href="/references" id="link2">References</a>
    </footer>
</body>

</html>