<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>References</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body class="reference-page">
    <section class="reference-page-logo">
        <a href="/"><img src="/images/LOGO.png" alt=""></a>
    </section>
    <h2>References</h2>
    <p>A list of references I found useful while building this project</p>
    <ul>
        <li>https://www.npmjs.com/package/node-fetch</li>
        <li>https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Asynchronous/Async_await</li>
        <li>Notes from COMP 3612 (for the async function response/json format)</li>
        <li>https://www.youtube.com/watch?v=esy4nRuShl8</li>
        <li>https://www.youtube.com/watch?v=yXEesONd_54</li>
        <li>https://www.w3schools.com/jsref/prop_loc_href.asp</li>
        <li>https://www.digitalocean.com/community/tutorials/how-to-use-ejs-to-template-your-node-application</li>
    </ul>
</body>

</html>