<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>References</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body class="reference-page">
    <section class="reference-page-logo">
        <a href="/"><img src="/images/LOGO.png" alt=""></a>
    </section>
    <h2>References</h2>
    <section id="reference-body">
        <p><b>The API was provided by the Tracker Network</b></p>
        <ul>
            <li>https://tracker.gg/developers</li>
        </ul>

        <p><b>Images Used</b></p>

        <p>Logo (Edited in PhotoShop)</p>
        <ul>
            <li>https://www.pinpng.com/picture/imJxoTi_apex-legends-logo-apex-legends-logo-png-transparent/</li>
        </ul>

        <p>Bloodhound Legend</p>
        <ul>
            <li>https://www.pngfind.com/mpng/imJxoTx_bloodhound-apex-legends-bloodhound-wallpaper-hd-hd-png/</li>
        </ul>

        <p>Crypto Legend</p>
        <ul>
            <li>https://www.dlf.pt/ddetail/TRTRioo_cryto-apex-legends-transparent-background-apex-legends-crypto/</li>
        </ul>

        <p>Xbox Logo</p>
        <ul>
            <li>https://commons.wikimedia.org/wiki/File:Xbox_one_logo.svg</li>
        </ul>

        <p>PlayStation Logo</p>
        <ul>
            <li>https://en.wikipedia.org/wiki/File:PlayStation_logo.svg</li>
        </ul>

        <p>PC Logo</p>
        <ul>
            <li>https://www.betaarchive.com/wiki/index.php?title=File:Pc-logo-png.png</li>
        </ul>

        <p id="note">All data and images (except those listed here) were provided by Tracker Networks API. I do not own
            any data or images displayed on this site.</p>
    </section>
</body>

</html>